[Unit]
Description=Manages PHBackup worker service, instance %i
After=multi-user.target
Requires=phbackup.service
Before=phbackup.service
BindsTo=phbackup.service

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/root/scripts/phbackup/worker.php %i
Restart=always
TimeoutStartSec=10
RestartSec=10
StandardOutput=append:/var/log/phbackup-worker-%i.log
StandardError=append:/var/log/phbackup-worker-%i-error.log

[Install]
WantedBy=phbackup.service
