[Unit]
Description=manages some worker instances as a service, instance

[Service]
Type=oneshot
ExecStart=/usr/bin/sh /root/scripts/phbackup/start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
